* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-text: "Mulish", sans-serif;

  --bg-linear-gradient: linear-gradient(96.21deg, #343193 0%, #302c63 99.68%);
  --bg-linear-gradiente-hover: linear-gradient(
    338deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(171, 165, 255, 1) 93%
  );
  --bg-moon: #ffffff;

  font-size: 62.5%;
  --fc-pink: #b52184;
  --fc-blue-dark: #312d64;
  --fc-white: #ffffff;
}

html {
  /* chrome://flags/#smooth-scrolling */
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;

  font-family: var(--ff-text);
}

h1,
h2 {
  color: var(--fc-pink);
}

p {
  color: var(--fc-blue-dark);
}

#home {
  text-align: center;
}

#home img {
  max-width: 36.4rem;
  margin-bottom: 1.7rem;
}

#home h1 {
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 4rem;
}

#home p {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.5rem;

  margin-bottom: 3.5rem;
}

#home a img {
  margin-bottom: 9.3rem;
}

#information {
  padding: 5.2rem 3.9rem;

  background: var(--bg-linear-gradient);

  display: flex;
  flex-direction: column;
  gap: 4.9rem;
}

#information .moon {
  padding: 2.6rem;

  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.25);
  border-radius: 1.9rem;
  background: var(--bg-moon);
}

#information .moon img {
  width: 8rem;
  margin-bottom: 3rem;
}

#information .moon h2 {
  font-weight: 900;
  font-size: 2.9rem;
  line-height: 3.7rem;

  margin-bottom: 2rem;
}

#information .moon p {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
}

#contact {
  padding: 7.8rem 3.9rem 6.5rem;
}

#contact form fieldset {
  border: none;
}

#contact form legend {
  font-family: var(--ff-text);
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 4rem;

  color: var(--fc-pink);

  margin-bottom: 4.3rem;
}

#contact form .input-wrappers {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

#contact form .input-wrapper {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  border: 1.6px solid var(--fc-blue-dark);
  border-radius: 1.6rem;

  padding: 1.2rem 1.4rem;
}

/* :focus-within seleciona o elemento pai que contém o elemento em foco. */
#contact form .input-wrapper:focus-within {
  border: 1.6px solid var(--fc-pink);
}

#contact form .input-wrapper input {
  width: 100%;

  font-family: var(--ff-text);
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 100%;

  color: var(--fc-blue-dark);

  border: 0px;
}

#contact form .input-wrapper input:focus {
  outline: 0px;
}

#contact form .input-wrapper textarea {
  width: 100%;
  height: 9.8rem;

  border: none;

  font-family: var(--ff-text);
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 140%;
  /* or 22px */

  color: var(--fc-blue-dark);
}

#contact form .input-wrapper textarea:focus {
  outline: 0px;
}

#contact form button {
  width: 15.1rem;

  padding: 1.5rem;
  border: none;
  border-radius: 1.6rem;

  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--fc-white);

  background: var(--bg-linear-gradient);

  cursor: pointer;
}

#contact form button:hover {
  background: var(--bg-linear-gradiente-hover);
}

footer {
  text-align: center;

  background: var(--bg-linear-gradient);
  padding: 3.2rem 3.9rem;
}

footer a {
  font-family: var(--ff-text);
  font-weight: 600;
  font-size: 1.9rem;
  line-height: 2.4rem;
  
  text-decoration: none;
  color: var(--fc-white);
}
