* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-text: "Mulish", sans-serif;

  --bg-section: linear-gradient(96.21deg, #343193 0%, #302c63 99.68%);
  --bg-moon: #ffffff;

  font-size: 62.5%;
  --fc-pink: #b52184;
  --fc-blue-dark: #312d64;
}

body {
  margin: 0 auto;

  font-family: var(--ff-text);
}

h1,
h2 {
  color: var(--fc-pink);
}

p {
  color: var(--fc-blue-dark);
}

#home {
  text-align: center;
}

#home img {
  max-width: 36.4rem;
  margin-bottom: 1.7rem;
}

#home h1 {
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 4rem;
}

#home p {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.5rem;

  margin-bottom: 3.5rem;
}

#home a img {
  margin-bottom: 9.3rem;
}

#information {
  padding: 5.2rem 3.9rem;

  background: var(--bg-section);

  display: flex;
  flex-direction: column;
  gap: 4.9rem;
}

#information .moon {
  padding: 2.6rem;

  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.25);
  border-radius: 1.9rem;
  background: var(--bg-moon);
}

#information .moon img {
  width: 8rem;
  margin-bottom: 3rem;
}

#information .moon h2 {
  font-weight: 900;
  font-size: 2.9rem;
  line-height: 3.7rem;

  margin-bottom: 2rem;
}

#information .moon p {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
}

#contact {
  padding: 7.8rem 3.9rem 6.5rem;
}

#contact form fieldset {
  border: none;
}

#contact form legend {
  font-family: var(--ff-text);
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 4rem;

  color: var(--fc-pink);

  margin-bottom: 4.3rem;
}
